todo.txt
__pycache__/atualizaAluno.cpython-312.pyc
__pycache__/cadastroAluno.cpython-39.pyc
__pycache__/cadastroAluno.cpython-312.pyc
__pycache__/cadastroUsuario.cpython-312.pyc
__pycache__/configBanco.cpython-39.pyc
__pycache__/configBanco.cpython-312.pyc
__pycache__/home.cpython-312.pyc
__pycache__/listaAlunos.cpython-312.pyc
__pycache__/login.cpython-312.pyc
__pycache__/sobre.cpython-312.pyc
__pycache__/filtroDisciplina.cpython-312.pyc
__pycache__/listaDisciplina.cpython-312.pyc
