todo.txt
__pycache__/atualizaAluno.cpython-312.pyc
__pycache__/cadastroAluno.cpython-39.pyc
__pycache__/cadastroAluno.cpython-312.pyc
__pycache__/cadastroUsuario.cpython-312.pyc
__pycache__/configBanco.cpython-39.pyc
__pycache__/configBanco.cpython-312.pyc
__pycache__/home.cpython-312.pyc
__pycache__/listaAlunos.cpython-312.pyc
